@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181615;
}

.container {
    width: 70%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FED300;
    padding: 1rem;
}

.form-image img {
    max-width: 100%;
    height: auto;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.form-header h1 {
    position: relative;
}

.form-header h1::after {
    content: '';
    display: block;
    height: 0.3rem;
    background-color: #FFD700;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    width: 100%;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #87CEFA;
}

.input-box label {
    font-size: 1.0rem;
    font-weight: 600;
    color: #000000c0;
    margin-bottom: 0.5rem;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-button button {
    border: none;
    background-color: #181615;
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 1000;
    width: 100%;
}
.alert {
    width: 100%;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #f5c6cb;
    display: none; /* Inicia oculto */
}
